<mat-button-toggle-group
  #group="matButtonToggleGroup"
  [value]="groupType" (change)="typeChangeHandler(group.value)"
  style="z-index: 100;">
  <mat-button-toggle *ngFor="let t of availableTypes" [value]="t.index"><span>{{t.name}}</span></mat-button-toggle>
</mat-button-toggle-group>

<div class="example-selected-value">Selected group: {{groupType}}</div>
<div class="example-selected-value">{{selectedPartInfo}}</div>

<button mat-flat-button color="accent" (click)="changePart(groupType, -1)">Prev</button>
<button mat-flat-button color="accent" (click)="changePart(groupType, +1)">Next</button>

<app-avatar [avatar]="avatar"></app-avatar>
